		
			<h1 class = "title text-center mt5">Resume</h1><a class = "text" href = "images/espanol.pdf">Haz clic aquí para español</a>
			<br>

			<br>
			<div class = "text-center">
				<a class = "text text-info" href = "images/resume.pdf">Also in PDF</a>
				<img class = "resumeImage" src = "images/resume.png">
				<a class = "text text-info" href = "images/resume.pdf">Also in PDF</a>
			</div>

<!-- 	<div class = "row "> -->
<!-- 		<h3 class = "link"><a ng-click = "vm.readPosts()" ui-sref = "blog.read">	Read Posts: </a></h3> -->
		
<!-- 	</div> -->
<!-- 	<div class = "row"> -->
<!-- 		<div ui-view = "read"></div> -->
<!-- 	</div> -->
<!-- 	<div class = "row">  -->
<!-- 		<h3 class = "link"><a ui-sref = "blog.write">Write Post: </a></h3> -->
<!-- 	</div> -->
<!-- 	<div class = "row"> -->
<!-- 		<div ui-view = "write"></div> -->
<!-- 	</div> -->