<!-- <center> -->
<!-- 	<br/> -->
<!-- 	<h1 class = "todoHeads text-info">Schedule</h1> -->
<!-- 	<h4 class = "text-white">{{daySchedule}}</h4> -->
<!-- </center> -->
<!-- <div class = "todoDiv"> -->
	
<!-- 	<ul class = "todoUl"> -->
<!-- 		<li>Completed {{completedTask("completed")}} of {{tasks.length}}</li> -->
<!-- 		<li class="text-danger" data-ng-if="errorMsg">{{errorMsg}}</li> -->
<!-- 		<li data-ng-repeat="task in tasks | limitTo: count:begin"> -->
<!-- 			<input ng-if = "" type="checkbox" data-ng-model="task.status" data-ng-click="completeTask($index)" /> {{task.name}} -->
<!-- 			<span class = "todoSpan glyphicon glyphicon-remove" data-ng-click="removeTask($index)"></span> -->
<!-- 		</li> -->
<!-- 	</ul> -->
<!-- 	<input class = "todoInput" type="text" ng-model="pushTask" placeholder="Enter Task" /> -->
<!-- 	<button class = "todoButton"  data-ng-click="addTask()">Add</button> -->
<!-- </div> -->

<!-- <!-- ng-keyup="$event.keyCode == 13 && myFunc()" --> -->