<h1 class = "title text-black text-center mt5">Projects</h1>
<br>
<br>

<div>
	<div ng-if = "vm.show" class = "fade1 text-blue col-md-4" ng-repeat = "item in vm.items track by $index">
		<div class = "mt15">
			<!--<h4 class = "ml5 textTitlePortfolio">{{item.name}}</h4>-->
			<!--<a ui-sref={{item.href}}><img class = "circlePic" src = {{item.img}}></a>-->

			<div class="single-item text-center">
				<div class="item-image">
					<a ng-if = "item.site == 'true'" ui-sref={{item.href}}><img class = "card" src = {{item.img}}></a>
					<a ng-if= "item.site == 'false'" href={{item.href}}><img class = "card" src = {{item.img}}></a>
				</div>
				<h2 class="single-item-title">
					{{item.name}}
					<!--<br>-->
					<!--<small class="text">Date Here</small>-->
				</h2>
				<ul class="tech">
						<li ng-repeat = "list in item.tech">{{list}}</li>
				</ul>
				<p class="light">
					{{item.description}}
				</p>
			</div>
		</div>
	</div>
</div>


