 <div id = "canvasHere">
	 <canvas id='floating'> </canvas>
 </div>

  
  <!--  Quote -->
 <div class = "homeStuff">
	
	<!-- 	Page Header -->
		<div class = "row mainRow">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt30">
			  		<h1 class = "text-blue myName">
			  		<!--<img class = "mainImage ml5" src = "images/ProfilePicture.jpg">	-->
			  		<big><strong class = "homeTextTitle">Ben Holmes </strong></big>
			  		</h1>
					<h4><small class = "homeTextSub">Software Developer</small>
					</h4>
					<ul class = "mainList">
						<li><a ui-sref = "notes">Notes</a></li>
						<li><a ui-sref = "about">About</a></li>
						<li><a ui-sref = "portfolio">Projects</a></li>
						<li><a ui-sref = "resume">Resume</a></li>

					</ul>
			</div>
		</div>
		<div class = "row">		
	
		</div>
  </div>
  
<!--<div class = "text text-danger"> Disclaimer: This site was created in early September. Although Still in development, I wanted to share it. </div>-->

