appdirs==1.4.0
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.7.2
MarkupSafe==0.21
mercurial==4.0.2
packaging==16.8
pbr==1.10.0
pylast==1.0.0
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
spotipy==2.4.4
stevedore==1.19.1
TBB==0.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Werkzeug==0.9.4
